// extends layout

block content
  .row
    // include widgets/chartjs
    // include widgets/asana_list
    // include widgets/links
    // include widgets/pie
    // include widgets/chartjs_1
    // include widgets/calendar
    // include widgets/twitter_tweet
    // include widgets/social
    // include widgets/github
    // include widgets/weather
    include widgets/instagram
    // include widgets/fb
    // include widgets/twitter_feed
    // include widgets/linkedin
    // include widgets/d3
    // include widgets/grades
    // include widgets/filler
    