footer
  if user
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            | Menu
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown(class=title=='Connect Apps'?'active':undefined)
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                .fa.fa-dot-circle-o
                | Connect Apps&nbsp;
                i.caret
              ul.dropdown-menu
                li
                  a(href='/api/facebook') Facebook
                li
                  a(href='/api/instagram') Instagram
                li
                  a(href='/api/twitter') Twitter
                li
                  a(href='/api/google') Google
                li
                  a(href='/api/linkedin') LinkedIn
                li
                  a(href='/api/paypal') PayPal
                li
                  a(href='/api/github') GitHub
  else
    .container.text-center
      p.pull-left © 2016 DeDoDi, Inc. All Rights Reserved
      ul.pull-right.list-inline
        li
          a(href='https://github.com/adicheo/dash') GitHub Project
        li
          a(href='https://github.com/adicheo/dash/issues') Issues
