extends layout

block content
  .row
    include partials/widgets/chartjs
    include partials/widgets/asana_list
    include partials/widgets/links
    include partials/widgets/pie
    include partials/widgets/chartjs_1
    include partials/widgets/calendar
    include partials/widgets/twitter_tweet
    include partials/widgets/social
    include partials/widgets/github
    include partials/widgets/instagram
    include partials/widgets/fb
    include partials/widgets/twitter_feed
    include partials/widgets/linkedin
    include partials/widgets/d3
    include partials/widgets/filler
    include partials/widgets/weather
    