extends layout

block content
  if !user
    h1 Dash
    p.lead A Dashboard for your life
    p Login to customize your Life Dashboard
    hr
  else
    block content
      .row
        include partials/widgets/chartjs
        // include partials/widgets/asana_list
        include partials/widgets/links
        include partials/widgets/pie
        include partials/widgets/chartjs_1
        include partials/widgets/calendar
        // include partials/widgets/twitter_tweet
        include partials/widgets/social
        include partials/widgets/github
        include partials/widgets/weather
        include partials/widgets/instagram
        include partials/widgets/fb
        // include partials/widgets/twitter_feed
        include partials/widgets/linkedin
        include partials/widgets/d3
        include partials/widgets/grades
        include partials/widgets/filler
        