extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-3
      a(href='/api/asana', style='color: #fff')
        .panel.panel-default(style='background-color: #aaa')
          .panel-body
            img(src='http://i.imgur.com/TVR5bMy.png', height=40)
            |  Asana
    .col-sm-3
      a(href='/api/github', style='color: #fff')
        .panel.panel-default(style='background-color: #000')
          .panel-body
            img(src='http://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    .col-sm-3
      a(href='/api/twitter', style='color: #fff')
        .panel.panel-default(style='background-color: #00abf0')
          .panel-body
            img(src='http://i.imgur.com/EYA2FO1.png', height=40)
            |  Twitter
    .col-sm-3
      a(href='/api/facebook', style='color: #fff')
        .panel.panel-default(style='background-color: #3b5998')
          .panel-body
            img(src='http://i.imgur.com/jiztYCH.png', height=40)
            |  Facebook
    .col-sm-3
      a(href='/api/instagram', style='color: #fff')
        .panel.panel-default(style='background-color: #947563')
          .panel-body
            img(src='http://i.imgur.com/aRc6LUJ.png', height=40)
            |  Instagram
    .col-sm-3
      a(href='/api/linkedin', style='color: #fff')
        .panel.panel-default(style='background-color: #007bb6')
          .panel-body
            img(src='http://i.imgur.com/sYmVWAw.png', height=40)
            |  LinkedIn
    .col-sm-3
      a(href='/api/nyt', style='color: #fff')
        .panel.panel-default(style='background-color: #454442')
          .panel-body
            img(src='http://i.imgur.com/e3sjmYj.png', height=40)
            |  New York Times
    .col-sm-3
      a(href='/api/paypal', style='color: #000')
        .panel.panel-default(style='background-color: #f5f5f5')
          .panel-body
            img(src='http://i.imgur.com/JNc0iaX.png', height=40)
            |  PayPal
    .col-sm-3
      a(href='/api/scraping', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=40)
            |  Web Scraping