.col-sm-6
  h2 
    a(href="javascript:window.open('https://calendar.google.com')") Calendar
    iframe(src="https://calendar.google.com/calendar/embed?src=adi.cheo%40gmail.com&ctz=America/Toronto", style="border: 0", width="500", height="300", frameborder="0", scrolling="no")
