.col-sm-4
  h2 
    a(href="javascript:window.open('https://calendar.sunrise.am')") Calendar
    iframe(src="https://calendar.google.com/calendar/embed?src=adi.cheo%40gmail.com&ctz=America/Toronto", style="border: 0", width="360", height="300", frameborder="0")
    