.col-sm-4
  h2 
    a(href="javascript:window.open('https://calendar.sunrise.am')") Calendar
    iframe(src="https://calendar.google.com/calendar/embed?src=adi.cheo%40gmail.com&ctz=America/Toronto", style="border: 0", width="360", height="300", frameborder="0")
    
.col-sm-4
  h2 
    a(href="javascript:window.open('https://calendar.sunrise.am')") Calendar
    iframe(src="https://docs.google.com/spreadsheets/d/1flfAQSyvbPNuw3ZRG5UY0vfFrnPHeTS50PV5J-33vhU/pubhtml?gid=6&amp;single=true&amp;widget=true&amp;headers=false", width="360", height="600", )
    
.col-sm-4
  h2 
    a(href="javascript:window.open('https://calendar.sunrise.am')") Calendar
    iframe(src="https://docs.google.com/spreadsheets/d/1flfAQSyvbPNuw3ZRG5UY0vfFrnPHeTS50PV5J-33vhU/pubhtml?gid=519955382&amp;single=true&amp;widget=true&amp;headers=false", width="360", height="600", )
