.col-sm-4
  h2 
    a(href="javascript:window.open('http://www.asana.com')") Life Wheel #2
    .well
      #chartContainer1
        canvas#myChart1(width='320', height='320')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js', charset='utf-8')
script(type='text/javascript').
  
  var ctx0 = document.getElementById("myChart1").getContext("2d");
  
  var data = [{
      value: 20,
      color: "#0bf417",
      highlight: "#50f758",
      label: "Thesis"
    }, {
      value: 5,
      color: "#F7464A",
      highlight: "#FF5A5E",
      label: "Health and fitness"
    }, {
      value: 78,
      color: "#46BFBD",
      highlight: "#5AD3D1",
      label: "Intellectual life"
    }, {
      value: 30,
      color: "#FDB45C",
      highlight: "#FFC870",
      label: "Emotional life"
    }, {
      value: 15,
      color: "#E80C7A",
      highlight: "#A8B3C5",
      label: "Character"
    }, {
      value: 20,
      color: "#58FF22",
      highlight: "#616774",
      label: "Spiritual life"
    }, {
      value: 50,
      color: "#FF530D",
      highlight: "#616774",
      label: "Love relationships"
    }, {
      value: 80,
      color: "#9D24D6",
      highlight: "#616774",
      label: "Social life"
    }, {
      value: 30,
      color: "#5DD624",
      highlight: "#616774",
      label: "Financial life"
    }, {
      value: 20,
      color: "#24B6D6",
      highlight: "#616774",
      label: "Career"
    }, {
      value: 50,
      color: "#D64424",
      highlight: "#616774",
      label: "Quality of life"
    }, {
      value: 70,
      color: "#58FF22",
      highlight: "#616774",
      label: "Life vision"
  }];
  var myRadarChart = new Chart(ctx0).PolarArea(data);