
.col-sm-4
  h2 Finance
  iframe(src="https://docs.google.com/spreadsheets/d/1TY0p4QwJrEgKebHgCnf0giU-sL-5nnHy7dVfzmtpTtA/pubhtml?widget=true&amp;headers=false", width="360", height="600")
.col-sm-12
  h2 Health
  iframe(width="1238" height="282" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1MmQBrlj9nBbPVJlMWV_i52uhWgTrY390l2s-d2C3l8A/pubchart?oid=297882316&amp;format=interactive")
  