.col-sm-4(style={height: '200px'})
  h2 Links
  .row
    .col-sm-3
      .panel-body
        a(href='/api/twitter', style='color: #fff')
          img(src='http://i.imgur.com/EYA2FO1.png', height=90)
    .col-sm-3
      a(href='/api/scraping', style='color: #fff')
          .panel-body
            img(src='http://i.imgur.com/RGCVvyR.png', height=90)
    .col-sm-3
      a(href='/api/instagram', style='color: #fff')
          .panel-body
            img(src='http://i.imgur.com/aRc6LUJ.png', height=90)
    .col-sm-3
      a(href='/api/linkedin', style='color: #fff')
          .panel-body
            img(src='http://i.imgur.com/sYmVWAw.png', height=90)