.col-sm-4
  .well.well-sm
    section(data-bind='foreach: widgets')
      .sub-section.sub-section-height-2(data-bind="css: 'sub-section-height-' + height()")
        .widget(data-bind='widget: true, css:{fillsize:fillSize}')
          .tw-display
            .tw-tr
              h2.section-title.tw-title.tw-td Current Temperature
            .tw-tr
              .tw-value-wrapper.tw-td
                .tw-value(style='font-size: 75px; max-width: 254px;') -8.77
                .tw-unit °C